<ion-content>
  <ion-header>
    <ion-toolbar>
        <ion-title>Create Service</ion-title>
        <ion-buttons slot="end">
            <ion-button width="80px" class="closeButton" (click)="closeModal()">
              CLOSE
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- <h1>Création d'une annonce</h1> -->
<form>
  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input placeholder="Enter a title"></ion-input>
  </ion-item>
  <ion-item>
    <!-- Le date se cache derrière le calendrier, à gérer pour la suite en CSS-->
    <ion-label>Date</ion-label>
    <ion-datetime locale="ch-CH">
      <span slot="time-label">Heure</span>
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Type</ion-label>
    <ion-select interface="popover" placeholder="Select type">
      <ion-select-option value="apples">Jardinage</ion-select-option>
      <ion-select-option value="oranges">Bricolage</ion-select-option>
      <ion-select-option value="bananas">Autres</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
</form>

<ion-button>Valider</ion-button>
</ion-content>
