<ion-header>
    <ion-toolbar>
        <ion-title>JobApp</ion-title>
        <ion-buttons slot="end">
            <ion-button width="80px" class="closeButton" (click)="closeModal()">
              CLOSE
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
<!-- <h1>Création d'une annonce</h1> -->
<form>
  <ion-item>
    <ion-label>Image</ion-label>
    <ion-button (click)="takePicture()"> Take picture 
      <ion-icon name="camera-outline"></ion-icon></ion-button>
    <img *ngIf="picture" [src]="picture" />
  </ion-item>
  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input placeholder="Titre du service"></ion-input>
  </ion-item>
  <ion-item>
    <!-- Le date se cache derrière le calendrier, à gérer pour la suite en CSS-->
    <ion-datetime locale="ch-CH">
      <span slot="title">Select a Reservation Date</span>
      <span slot="time-label">Heure</span>
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Type</ion-label>
    <ion-select interface="popover" placeholder="Selectionner le type">
      <ion-select-option value="assistance">Assistance</ion-select-option>
      <ion-select-option value="promenade">Promenade</ion-select-option>
      <ion-select-option value="jardinage">Jardinage</ion-select-option>
      <ion-select-option value="bricolage">Bricolage</ion-select-option>
      <ion-select-option value="autres">Autres</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-input placeholder="Entrez du texte"></ion-input>
  </ion-item>
  <div class="modal--button">
    <ion-button>Valider</ion-button>
  </div>
  
</form>

</ion-content>
