<ion-header>
  <ion-toolbar>
    <ion-title>JobApp</ion-title>
    <ion-button id="notifButton" slot="end">
      <ion-icon name="notifications-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="selectTabs" color="secondary" value="default">
    <ion-segment-button value="default">
      <ion-label>Profil</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mesAnnonces">
      <ion-label>Mes annonces</ion-label>
    </ion-segment-button>
  </ion-segment>


  <section *ngIf="selectTabs === 'default'">
    <div class="infosUser">
      <h3 class="enteteSection">Connecté·e en tant que</h3>
      <p class="userName">{{ userName }}</p>
      <p class="email">{{ userEmail }}</p>
      <ion-button class="buttonLinks" color="medium" fill="clear">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </div>
    <div class="linksProfile">
      <ion-button class="buttonLinks" color="secondary" fill="clear">
        <ion-icon name="pencil"></ion-icon>
        <p> Modifier le mot de passe</p>
      </ion-button>
      <ion-button class="buttonLinks" color="secondary" fill="clear" (click)="logOut()">
        <ion-icon name="power"></ion-icon>
        <p> Se déconnecter</p>
      </ion-button>
      <ion-button class="buttonLinks" color="danger" fill="clear">
        <ion-icon name="close"></ion-icon>
        <p> Supprimer le compte</p>
      </ion-button>
    </div>
  </section>


  <section *ngIf="selectTabs === 'mesAnnonces'">
    <h3 class="enteteSection">Mes annonces</h3>

    <ion-list>
      <div class="service" *ngFor="let service of services">
        <ion-item *ngIf="service.provider === userID">

          <div class="serviceImage">
            <img src={{service.picture}} height="100%" width="">
          </div>
          <div class="infosService">
            <h2 class="serviceTitre">{{ service.titre }}</h2>
            <p class="serviceDate">{{ service.date | date: "dd MMM yyyy" }}</p>
          </div>
          <ion-button (click)="deleteServ(service)">DELETE</ion-button>
          <!-- <ion-button (click)="updateServ()">UPDATE</ion-button> -->
        </ion-item>
      </div>
    </ion-list>

  </section>


</ion-content>