
.barreRecherche{
    display:flex;
    align-items: center;
}

ion-searchbar {
    margin-left: -10px;
    margin-right: -10px;
}

.icon{
    margin: 10px;
    font-size: 25px;
    color: black;
}

.serviceImage {
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.605);
    border-radius: 5px;
}

.serviceTitre{
    font-size: 18px;
    margin-left: 20px;
}

.serviceDate{
    color:rgb(142, 142, 142);
    font-size: 14px;
    margin-left: 20px;
}

.rdvImage {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.605);
    border-radius: 5px;
}

.infosRdv{
    width: 60%;
}

// ion-label{
//     display: flex;
//     flex-direction: row;
// }