<ion-header>
  <ion-toolbar>
    <ion-title>JobApp</ion-title>
    <ion-button id="notifButton" slot="end">
      <ion-icon name="notifications-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Mes RdVs:</h3>

  <ion-segment [(ngModel)]="selectTabs" color="secondary" value="default">
    <ion-segment-button value="default">
      <ion-label>A venir</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enAttente">
      <ion-label>En attente</ion-label>
    </ion-segment-button>
    <ion-segment-button value="historique">
      <ion-label>Historique</ion-label>
    </ion-segment-button>
  </ion-segment>

  <section *ngIf="selectTabs === 'default'">
    <!-- <ion-list>
      <div class="item" *ngFor="let rdv of rdvs; let index">
        <ion-item class="service" 
          (click)="afficheRdvCall(service)"
          *ngIf="rdv.reciever._id === userID && rdv.relatedService.date >= today ">

          <div class="serviceImage">
            <img src={{rdv.relatedService.picture}} height="100%" width="">

          </div>
          <div class="infosService">
            <div class="servicelien">
              <h2 class="serviceTitre">{{ rdv.relatedService.titre }}</h2>
              <p class="serviceDate">{{ rdv.relatedService.date | date: "dd MMM yyyy" }}</p>
            </div>
          </div>
        </ion-item>
      </div>
      <ion-infinite-scroll (ionInfinite)="loadMoreData()" *ngIf="!allDataLoaded">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list> -->
  </section>

  <section *ngIf="selectTabs === 'enAttente'">
    <!-- <ion-list>
      <div class="item" *ngFor="let service of rdvs; let index">
        <ion-item class="service" 
          (click)="afficheRdvCall(service)"
          *ngIf="service.reciever._id === userID && service.relatedService.date == today ">

          <div class="serviceImage">
            <img src={{service.relatedService.picture}} height="100%" width="">
         
          </div>
          <div class="infosService">
            <div class="servicelien">
              <h2 class="serviceTitre">{{ service.relatedService.titre }}</h2>
              <p class="serviceDate">{{ service.relatedService.date | date: "dd MMM yyyy" }}</p>
            </div>
          </div>
        </ion-item>
      </div>
      <ion-infinite-scroll (ionInfinite)="loadMoreData()" *ngIf="!allDataLoaded">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list> -->
  </section>


  <!-- <ion-list>
    <ion-item class="service" (click)="afficheServiceCall(service)" *ngFor="let service of services; let index">
      <div class="serviceImage">
        <img class="squareimg" [ngStyle]="{'background-image': 'url(' + service.picture + ')', 'background-size': 'cover'}">
      </div>
      <div class="infosService">
        <div class="servicelien">
          <h2 class="serviceTitre">{{ service.titre }}</h2>
          <p class="serviceDate">{{ service.date | date: "dd MMM yyyy" }}</p>
        </div>
      </div>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="loadMoreData()" *ngIf="!allDataLoaded">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list> -->


  <section *ngIf="selectTabs === 'enAttente'">
    <ion-list>
      <div class="item" *ngFor="let rdv of rdvs; let index"
      (click)="afficheRdvCall(rdv.relatedService)">
        <ion-item class="rdv" *ngIf="rdv.reciever._id === userID && rdv.relatedService.date < today && !rdv.isAccepted ">
   
            <div class="rdvImage">
              <img src={{rdv.relatedService.picture}} height="100%" width="">
            </div>
            <div class="infosRdv">
              <div class="servicelien">
                
                <h6 class="rdvProvider">rendez vous avec {{ rdv.provider.name }} pour</h6>
            
                <!-- <p class="serviceDate">{{ service.relatedService.date | date: "dd MMM yyyy" }}</p> -->
              </div>
            </div>

          
        </ion-item>
      </div>
      <ion-infinite-scroll (ionInfinite)="loadMoreData()" *ngIf="!allDataLoaded">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </section>

</ion-content>