#icon1 {
    size: 35px;
}

ion-searchbar {
    width: 70%;
}

.div {
    min-height: 900px;
}

.serviceImage {
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.605);
    border-radius: 5px;
}

.serviceTitre{
    font-size: 18px;
    margin-left: 20px;
}

.serviceDate{
    color:rgb(142, 142, 142);
    font-size: 14px;
    margin-left: 20px;
}

.createServiceModal {
    // z-index:1;
}


.addButton {
    // z-index: 300001;
}
