#icon1 {
    size: 35px;

}

ion-searchbar{
width: 70%;

}

.div{
    
    min-height: 800px;
}


//tentative pour avoir un fond blanc et le texte en noir
// .md body {
//     --ion-background-color: #ffffff;
    
// }