<ion-header>
  <ion-toolbar>
    <ion-title>JobApp</ion-title>
    <ion-button id="notifButton" slot="end">
      <ion-icon name="notifications-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab z-index="30002" slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button class="addButton" (click)="openCreateServiceModal()" color="secondary">
      <ion-icon id="btnadd" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-button routerLink="/service-map"><ion-icon id="icon1" name="map-sharp"></ion-icon></ion-button>
  <ion-searchbar animated="true" placeholder="Rechercher un service"></ion-searchbar>
  <ion-button><ion-icon id="icon2" name="options"></ion-icon></ion-button> <ion-icon id="icon1" name="map-sharp"></ion-icon>
 
  <!-- <div> -->
  <!-- <h1>{{ serviceData.titre }}</h1>
<p>{{ serviceData._id }}</p></div> -->
  <!-- <h1>{{ serviceData.titre }}</h1>
<p>{{ serviceData._id }}</p> -->
  <ion-list>
    <div class="service" *ngFor="let service of services">
      <ion-item>

        <!-- <div class="serviceImage">
        </div>
        <div class="serviceInfo">
          <h2>{{ service.titre }}</h2>
          <p>{{ service.type }}</p>
          <p>{{ service.date }}</p>
          <p>{{ service.provider }}</p>
          <p>{{ service.location }}</p>
        </div> -->

        <div class="serviceImage">
          <img width="200" src="" alt="image indisponible">
        </div>
        <div class="infosService">
          <h2 class="serviceTitre">{{ service.titre }}</h2>
          <p class="serviceDate">{{ service.date | date: "dd MMM yyyy" }}</p>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>