<ion-header>
  <ion-toolbar>
    <ion-title>Liste des services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      
    </ion-fab-list>
    <ion-fab-list side="end">
      
    </ion-fab-list>
  </ion-fab>
  <ion-icon id="icon1" name="map-sharp"></ion-icon>
<ion-searchbar animated="true" placeholder="Rechercher un service"></ion-searchbar>
<ion-icon id="icon2" name="options"></ion-icon>

</ion-content>
